#contactForm {
  margin-top: 20px;
  * {
    color: var(--text-h);
  }

  background-color: var(--accent-bg);

  h3 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  h4 {
    font-size: 16px;
    text-align: left;
    margin-top: 0;
  }
  form {
    display: flex;
    flex-direction: row;
    input,
    button {
      flex: 0;
      display: block;
      width: 100%;
      box-sizing: border-box;
      height: 40px;
      border-radius: 5px;
      border-color: var(--accent-border);
      padding: 5px;
      background-color: var(--bg);
    }
    .left {
      padding: 25px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px 0px;

      button {
        background-color: var(--accent-bg);
      }
    }
    .right {
      flex: 1.2;
      padding: 25px;
      background-color: var(--accent-bg);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      label {
        padding-bottom: 10px;
      }
      textarea {
        flex: 1;
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-color: var(--accent-border);
        border-radius: 5px;
        resize: none;
        background-color: var(--bg);
      }
    }
  }
}

@media (max-width: 600px) {
  #contactForm {
    form {
      flex-direction: column;
    }
  }
}
